<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home - task add</title>
</head>
<body>
    <a href = "{% url 'task' %}"> Tasks</a><br>
    {{ success }}
    <form method = 'POST'>
        {% csrf_token %}
        <input type="text" name = "title" value = "Task title">
        <input type="text" name = "desc" value = "Task description">
        <input type="submit" value="Submit">
        
    </form>
</body>
</html>